body {
background-color: transparent;
color: lightcyan;
}

h1 {
    color: white
}

ul {
   color: rgba(102, 114, 110, 0.304);
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

p:hover {
    color: azure;
}

ul:hover {
    color: azure;
}

.drag {
    position: absolute;
    z-index: 9;
    background-color: transparent;
    text-align: center;
  }
.mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: transparent;
    color: #fff;
  }

a {
color:darkslateblue
}

.margin-right {
    margin-right: 150px;
}